*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: content-box;
}
body{
    height: 100vh;
    width:auto;
}
header{
    background: rgb(4, 176, 255);
    color: #fff;
    padding: 15px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    background: rgba(4, 176, 255, 0.836);
}
nav a{
    margin: 1px 20px 1px 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background: #fff;
    color: rgb(4, 176, 255);
}
main{
    display: flex;
    padding: 15px;
    gap: 5px;
}
section{
  flex: 3;
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h2{
    text-align: center;
    color: rgb(4, 176, 255);
}
section article{
    background: rgba(4, 176, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    text-align: center;
    color: rgb(4, 176, 255);
}
section article:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
aside{
    flex: 1;
    padding: 15px;
    background: rgba(4, 176, 255, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 500px;

}
aside h3,p{
    color: rgb(4, 176, 255);
}
aside button{
    padding: 6px 35px 6px 35px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background: #0000ff;
    transition: 0.5s;
    animation: beat 1s infinite;
}
@keyframes beat{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
footer{
    background: rgba(4, 176, 255, 0.1);
    text-align: center;
    color: rgb(4, 176, 255);
    padding: 20px;
    border-top: 2px solid rgb(4, 176, 255);
}
